* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #1d1d1d;
}

#atom {
    font-family: 'Montserrat SemiBold';
    font-size: 40px;
    color: #f4f4f4;
    position: absolute;
    left: 126px;
    top: 159px;
}

#input-1 input {
    border: 2px solid #f4f4f4;
    border-radius: 5px;
    background-color: transparent;
    width: 307px;
    height: 36px;
    position: absolute;
    left: 126px;
    top: 228px;
    padding-left: 15px;
    font-family: 'Montserrat SemiBold';
    color: #f4f4f4;
}

#input-2 input {
    border: 2px solid #f4f4f4;
    border-radius: 5px;
    background-color: transparent;
    width: 307px;
    height: 36px;
    position: absolute;
    left: 126px;
    top: 284px;
    padding-left: 15px;
    font-family: 'Montserrat SemiBold';
    color: #f4f4f4;
}

#btn-1 button {
    background-color: transparent;
    color: #f4f4f4;
    width: 77.63px;
    height: 27px;
    position: absolute;
    left: 372px;
    top: 345px;
    border-radius: 5px;
    border: 2px solid #f4f4f4;
    font-family: 'Montserrat SemiBold';
    font-size: 12px;
    cursor: pointer;
    transition: 0.7s;
}

#btn-1 button:hover {
    background-color: #f4f4f4;
    color: #333;
}