* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #1d1d1d;
}

#navbar-logo a {
    background-image: url(../images/navbar-logo.png);
    width: 32px;
    height: 32.82px;
    position: absolute;
    left: 39.62px;
    top: 21.54px;
    transition: 0.7s;
    opacity: 80%;
    animation-name: logo;
    animation-duration: 1.6s;
}

@keyframes logo {
    0% {transform: translateX(-100px);}
    100% {transform: translateX(0px);}
}

#navbar-logo a:hover {
    opacity: 100%;
}

#atom {
    font-family: 'Montserrat SemiBold';
    font-size: 40px;
    color: #f4f4f4;
    position: absolute;
    left: 126px;
    top: 159px;
    animation-name: atom1;
    animation-duration: 1.3s;
}

@keyframes atom1 {
    0% {transform: translateX(-300px);}
    100% {transform: translateX(0px);}
}


#input-1 input {
    border: 2px solid #f4f4f4;
    border-radius: 5px;
    background-color: transparent;
    width: 307px;
    height: 36px;
    position: absolute;
    left: 126px;
    top: 228px;
    padding-left: 15px;
    font-family: 'Montserrat SemiBold';
    color: #f4f4f4;
    animation-name: name;
    animation-duration: 1.3s;
}

@keyframes name {
    0% {transform: translateX(-700px);}
    100% {transform: translateX(0px);}
}

#input-2 input {
    border: 2px solid #f4f4f4;
    border-radius: 5px;
    background-color: transparent;
    width: 307px;
    height: 36px;
    position: absolute;
    left: 126px;
    top: 284px;
    padding-left: 15px;
    font-family: 'Montserrat SemiBold';
    color: #f4f4f4;
    animation-name: surname;
    animation-duration: 1.4s;
}

@keyframes surname {
    0% {transform: translateX(-700px);}
    100% {transform: translateX(0px);}
}

#input-1 input::placeholder {
    opacity: 80%;
}

#input-2 input::placeholder {
    opacity: 80%;
}

#btn-1 button {
    background-color: transparent;
    color: #f4f4f4;
    width: 77.63px;
    height: 30px;
    position: absolute;
    left: 372px;
    top: 345px;
    border-radius: 5px;
    border: 2px solid #f4f4f4;
    font-family: 'Montserrat SemiBold';
    font-size: 12px;
    cursor: pointer;
    transition: 0.7s;
    animation-name: btn-1;
    animation-duration: 1.6s;
}

@keyframes btn-1 {
    0% {transform: translateY(-150px); opacity: 0%;}
    40% {opacity: 0%;}
    100% {transform: translateY(0px); opacity: 100%;}
}

#btn-1 button:hover {
    background-color: #f4f4f4;
    color: #333333;
}

#right-bg {
    background-image: url(../images/bg.png);
    width: 694px;
    height: 768px;
    position: fixed;
    left: 674px;
    top: 0px;
    animation-name: bg;
    animation-duration: 4.5s;
}

@keyframes bg {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

#atom-beta {
    font-family: 'Montserrat SemiBold';
    font-size: 40px;
    position: absolute;
    left: 857px;
    top: 159px;
    color: #1d1d1d;
    animation-name: atombeta;
    animation-duration: 1.3s;
}

@keyframes atombeta {
    0% {transform: translateX(300px);}
    100% {transform: translateX(0px);}
}

#input-1-2 input {
    border: 2px solid #1d1d1d;
    border-radius: 5px;
    background-color: transparent;
    width: 307px;
    height: 36px;
    position: absolute;
    left: 857px;
    top: 228px;
    padding-left: 15px;
    font-family: 'Montserrat SemiBold';
    color: #1d1d1d;
    animation-name: apple-id;
    animation-duration: 1.3s;
}

@keyframes apple-id {
    0% {transform: translateX(180px);}
    100% {transform: translateX(0px);}
}

#input-2-2 input {
    border: 2px solid #1d1d1d;
    border-radius: 5px;
    background-color: transparent;
    width: 307px;
    height: 36px;
    position: absolute;
    left: 857px;
    top: 284px;
    padding-left: 15px;
    font-family: 'Montserrat SemiBold';
    color: #1d1d1d;
    animation-name: dev-id;
    animation-duration: 1.5s;
}

@keyframes dev-id {
    0% {transform: translateX(180px);}
    100% {transform: translateX(0px);}
}

#input-1-2 input::placeholder {
    color: #1d1d1d;
    opacity: 80%;
}

#input-2-2 input::placeholder {
    color: #1d1d1d;
    opacity: 80%;
}

#btn-2 button {
    background-color: transparent;
    color: #1d1d1d;
    width: 77.63px;
    height: 30px;
    position: absolute;
    left: 1104px;
    top: 345px;
    border-radius: 5px;
    border: 2px solid #1d1d1d;
    font-family: 'Montserrat SemiBold';
    font-size: 12px;
    cursor: pointer;
    transition: 0.7s;
    animation-name: btn-2;
    animation-duration: 1.6s;
}

@keyframes btn-2 {
    0% {transform: translateY(-150px); opacity: 0%;}
    45% {opacity: 0%;}
    100% {transform: translateY(0px); opacity: 100%;}
}

#btn-2 button:hover {
    background-color: #1d1d1d;
    color: #f4f4f4;
}

#box-1 {
    background-image: url(../images/box-1.png);
    width: 314px;
    background-repeat: no-repeat;
    height: 300px;
    position: absolute;
    left: 126px;
    top: 426px;
    animation-name: box-1;
    animation-duration: 1.3s;
}

@keyframes box-1 {
    0% {transform: translateY(500px);}
    100% {transform: translateY(0px);}
}

#box-1-ver {
    font-family: 'Montserrat SemiBold';
    font-size: 18px;
    position: absolute;
    left: 261px;
    top: 440px;
    color: #f4f4f4;
    animation-name: box-1-ver;
    animation-duration: 1.3s;
}

@keyframes box-1-ver {
    0% {transform: translateY(500px);}
    100% {transform: translateY(0px);}
}

#br-line-1 {
    background-image: url(../images/br-line.png);
    width: 312px;
    height: 50px;
    background-repeat: no-repeat;
    position: absolute;
    left: 125px;
    top: 476px;
    animation-name: br-line-1;
    animation-duration: 1.3s;
}

@keyframes br-line-1 {
    0% {transform: translateY(500px);}
    100% {transform: translateY(0px);}
}

#box-1-text-1 {
    font-family: 'Montserrat SemiBold';
    font-size: 18px;
    position: absolute;
    left: 172px;
    top: 523px;
    color: #f4f4f4;
    animation-name: box-1-text-1;
    animation-duration: 1.3s;
}

@keyframes box-1-text-1 {
    0% {transform: translateY(500px);}
    100% {transform: translateY(0px);}
}

#box-1-text-2 {
    font-family: 'Montserrat SemiBold';
    font-size: 18px;
    position: absolute;
    left: 172px;
    top: 553px;
    color: #f4f4f4;
    animation-name: box-1-text-2;
    animation-duration: 1.3s;
}

@keyframes box-1-text-2 {
    0% {transform: translateY(500px);}
    100% {transform: translateY(0px);}
}

#box-1-text-3 {
    font-family: 'Montserrat SemiBold';
    font-size: 18px;
    position: absolute;
    left: 172px;
    top: 582px;
    color: #f4f4f4;
    animation-name: box-1-text-3;
    animation-duration: 1.3s;
}

@keyframes box-1-text-3 {
    0% {transform: translateY(500px);}
    100% {transform: translateY(0px);}
}

#br-line-2 {
    background-image: url(../images/br-line.png);
    width: 312px;
    height: 50px;
    background-repeat: no-repeat;
    position: absolute;
    left: 125px;
    top: 659px;
    animation-name: br-line-2;
    animation-duration: 1.3s;
}

@keyframes br-line-2 {
    0% {transform: translateY(500px);}
    100% {transform: translateY(0px);}
}

#btn-3 button {
    border-radius: 5px;
    border: 2px solid #f4f4f4;
    width: 88px;
    height: 30px;
    position: absolute;
    left: 243px;
    top: 677px;
    background-color: transparent;
    font-family: 'Montserrat SemiBold';
    font-size: 13px;
    color: #f4f4f4;
    transition: 0.7s;
    cursor: pointer;
    animation-name: btn-3;
    animation-duration: 1.3s;
}

@keyframes btn-3 {
    0% {transform: translateY(500px);}
    100% {transform: translateY(0px);}
}
#btn-3 button:hover {
    background-color: #f4f4f4;
    color: #333;
}






#box-2 {
    background-image: url(../images/box-2.png);
    width: 314px;
    background-repeat: no-repeat;
    height: 300px;
    position: absolute;
    left: 856px;
    top: 426px;
    animation-name: box-2;
    animation-duration: 1.3s;
}

@keyframes box-2 {
    0% {transform: translateY(500px);}
    100% {transform: translateY(0px);}
}

#box-2-ver {
    font-family: 'Montserrat SemiBold';
    font-size: 18px;
    position: absolute;
    left: 964px;
    top: 440px;
    color: #1d1d1d;
    animation-name: box-2-ver;
    animation-duration: 1.3s;
}

@keyframes box-2-ver {
    0% {transform: translateY(500px);}
    100% {transform: translateY(0px);}
}

#box-2-ver-spec {
    font-family: 'Montserrat SemiBold';
    font-size: 10px;
    position: absolute;
    left: 919px;
    top: 460px;
    color: #1d1d1d;
    animation-name: box-2-ver-spec;
    animation-duration: 1.3s;
}

@keyframes box-2-ver-spec {
    0% {transform: translateY(500px);}
    100% {transform: translateY(0px);}
}

#br-line-2-2 {
    background-image: url(../images/br-line-2.png);
    width: 312px;
    height: 50px;
    background-repeat: no-repeat;
    position: absolute;
    left: 855px;
    top: 476px;
    animation-name: br-line-2-2;
    animation-duration: 1.3s;
}

@keyframes br-line-2-2 {
    0% {transform: translateY(500px);}
    100% {transform: translateY(0px);}
}

#box-2-text-1 {
    font-family: 'Montserrat SemiBold';
    font-size: 18px;
    position: absolute;
    left: 902px;
    top: 523px;
    color: #1d1d1d;
    animation-name: box-2-text-1;
    animation-duration: 1.3s;
}

@keyframes box-2-text-1 {
    0% {transform: translateY(500px);}
    100% {transform: translateY(0px);}
}

#box-2-text-2 {
    font-family: 'Montserrat SemiBold';
    font-size: 18px;
    position: absolute;
    left: 902px;
    top: 553px;
    color: #1d1d1d;
    animation-name: box-2-text-2;
    animation-duration: 1.3s;
}

@keyframes box-2-text-2 {
    0% {transform: translateY(500px);}
    100% {transform: translateY(0px);}
}

#box-2-text-3 {
    font-family: 'Montserrat SemiBold';
    font-size: 18px;
    position: absolute;
    left: 902px;
    top: 582px;
    color: #1d1d1d;
    animation-name: box-2-text-3;
    animation-duration: 1.3s;
}

@keyframes box-2-text-3 {
    0% {transform: translateY(500px);}
    100% {transform: translateY(0px);}
}

#box-2-text-4 {
    font-family: 'Montserrat SemiBold';
    font-size: 18px;
    position: absolute;
    left: 902px;
    top: 608px;
    color: #1d1d1d;
    animation-name: box-2-text-4;
    animation-duration: 1.3s;
}

@keyframes box-2-text-4 {
    0% {transform: translateY(500px);}
    100% {transform: translateY(0px);}
}

#br-line-2-2-2 {
    background-image: url(../images/br-line-2.png);
    width: 312px;
    height: 50px;
    background-repeat: no-repeat;
    position: absolute;
    left: 855px;
    top: 659px;
    animation-name: box-2-2-2;
    animation-duration: 1.3s;
}

@keyframes box-2-2-2 {
    0% {transform: translateY(500px);}
    100% {transform: translateY(0px);}
}

#btn-4 button {
    border-radius: 5px;
    border: 2px solid #1d1d1d;
    width: 88px;
    height: 30px;
    position: absolute;
    left: 967px;
    top: 676px;
    background-color: transparent;
    font-family: 'Montserrat SemiBold';
    font-size: 13px;
    color: #1d1d1d;
    transition: 0.7s;
    cursor: pointer;
    animation-name: btn-4;
    animation-duration: 1.3s;
}

@keyframes btn-4 {
    0% {transform: translateY(500px);}
    100% {transform: translateY(0px);}
}

#btn-4 button:hover {
    background-color: #1d1d1d;
    color: #f4f4f4;
}

#blue-line {
    background-image: url(../images/blue-line.png);
    width: 1349px;
    height: 35px;
    position: absolute;
    left: 0px;
    top: 803px;
}

#bg-2 {
    background-image: url(../images/bg-2.png);
    width: 1349px;
    height: 705px;
    position: absolute;
    left: 0px;
    top: 838px;
}

#faster-than {
    font-family: 'Montserrat SemiBold';
    font-size: 50px;
    position: absolute;
    left: 125px;
    top: 1022px;
    color: #f4f4f4;
}

#f2x {
    font-family: 'Montserrat SemiBold';
    font-size: 18px;
    color: #f4f4f4;
    position: absolute;
    left: 147px;
    top: 1097px;
}

#f8x {
    font-family: 'Montserrat SemiBold';
    font-size: 18px;
    color: #f4f4f4;
    position: absolute;
    left: 147px;
    top: 1127px;
}

#box-2nd-1 {
    background-image: url(../images/box-2nd-1.png);
    width: 448px;
    height: 312px;
    background-repeat: no-repeat;
    position: absolute;
    left: 125px;
    top: 1193px;
}

#red-comp {
    background-image: url(../images/red.png);
    width: 300px;
    height: 38px;
    background-repeat: no-repeat;
    position: absolute;
    left: 167px;
    top: 1237px;
}

#green-comp {
    background-image: url(../images/green.png);
    width: 300px;
    height: 38px;
    background-repeat: no-repeat;
    position: absolute;
    left: 167px;
    top: 1293px;
}

#blue-comp {
    background-image: url(../images/blue.png);
    width: 300px;
    height: 38px;
    background-repeat: no-repeat;
    position: absolute;
    left: 167px;
    top: 1349px;
}

#atom-red {
    color: #ff453a;
    font-family: 'Montserrat SemiBold';
    font-size: 18px;
    position: absolute;
    left: 231px;
    top: 1454px;
}

#lorem-green {
    color: #30d158;
    font-family: 'Montserrat SemiBold';
    font-size: 18px;
    position: absolute;
    left: 317px;
    top: 1454px;
}

#ipsum-blue {
    color: #0a84ff;
    font-family: 'Montserrat SemiBold';
    font-size: 18px;
    position: absolute;
    left: 410px;
    top: 1454px;
}

#big-rectangle {
    background-image: url(../images/big-rectangle.png);
    width: 453px;
    height: 533px;
    background-repeat: no-repeat;
    position: absolute;
    left: 854px;
    top: 976px;
}

#us-flag {
    background-image: url(../images/usflag.png);
    width: 32px;
    height: 29.28px;
    position: absolute;
    left: 1303px;
    top: 20.06px;
    transition: 0.7s;
    cursor: pointer;
    opacity: 80%;
    animation-name: usflag;
    animation-duration: 1.6s;
}

@keyframes usflag {
    0% {transform: translateY(-100px);}
    100% {transform: translateY(0px);}
}

#us-flag:hover {
    opacity: 100%;
}

